<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.webServer>
    <security>
      <requestFiltering>
        <hiddenSegments>
          <add segment="publicupload" />
        </hiddenSegments>
      </requestFiltering>
    </security>
    <authorization>
      <remove users="*" roles="" verbs="" />
      <add accessType="Deny" users="*" />
    </authorization>
  </system.webServer>
</configuration>
